---
layout: default
---

{%- comment -%}
    A page with table of indexed pages.

    Parameters:
        site.pages: all site pages
{%- endcomment -%}


<article class="page">
    {{ content }}
    <h2>Contents</h2>
    <nav>
        <ol>
            {% assign site_pages = site.pages | sort: "index" %}
            {% for site_page in site_pages %}
                {% if site_page.index %}
                <li>
                    <a href="{{ site_page.url | prepend:site.baseurl }}">{{ site_page.title | escape }}</a>
                     - {{ site_page.description | escape }}
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
</article>
