---
layout: default
---

{%- comment -%}
    An indexed page with links to next and previous indexed page.

    Parameters:
        page.index: index number of page in order pages
        page.title: title of page
        page.description: description of page
{%- endcomment -%}


<article class="page">
    {{ content }}
    {%- if page.index -%}
    <nav class="page-nav">
        <div class="page-previous">
            {% assign previous_index = page.index | minus: 1 %}
            {% for site_page in site.pages %}
                {% if site_page.index == previous_index %}
                Previous:<br/>
                <a href="{{ site_page.url | prepend:site.baseurl }}">{{ site_page.title | escape }}</a>
                    {% break %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="page-next">
            {% assign next_index = page.index | plus: 1 %}
            {% for site_page in site.pages %}
                {% if site_page.index == next_index %}
                Next:<br/>
                <a href="{{ site_page.url | prepend:site.baseurl }}">{{ site_page.title | escape }}</a>
                    {% break %}
                {% endif %}
            {% endfor %}
        </div>
    </nav>
    {%- endif -%}
</article>
