// An indexed page with links to next and previous indexed page.

.page {
    &-nav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 2em 0 1em;
    }
    &-next { text-align: right; }
}
