// Additional site styles for use in theme overrides.

.site{
    &-title {
        float: none;
        margin-top: $base-font-size * 0.5;
    }
    &-description {
        color: $grey-color;
        margin-bottom: $base-font-size * 0.5;
    }
    &-title, &-description {
        display: block;
        line-height: $base-line-height;
    }
}
